* {
    box-sizing: border-box;
    margin: 0;
}

#root,
html,
body {
    height: 100vh;
    width: 100vw;
    font-family: 'PT Sans Narrow', sans-serif;
}

html {
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
